<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEnrollmentLabel">Create or edit a Enrollment</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!enrollment.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="enrollment.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_agentId">Agent Id</label>
            <input type="text" class="form-control" name="agentId" id="field_agentId"
                [(ngModel)]="enrollment.agentId" required/>
            <div [hidden]="!(editForm.controls.agentId?.dirty && editForm.controls.agentId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.agentId?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_id">Id</label>
            <select class="form-control" id="field_id" name="id" [(ngModel)]="enrollment.id">
                <option [ngValue]="null"></option>
                <option [ngValue]="enrollmentPaymentMetaDataOption.id === enrollment.id?.id ? enrollment.id : enrollmentPaymentMetaDataOption" *ngFor="let enrollmentPaymentMetaDataOption of ids; trackBy: trackEnrollmentPaymentMetaDataById">{{enrollmentPaymentMetaDataOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_agent">Agent</label>
            <select class="form-control" id="field_agent" name="agent" [(ngModel)]="enrollment.agent" >
                <option [ngValue]="null"></option>
                <option [ngValue]="agentOption.id === enrollment.agent?.id ? enrollment.agent : agentOption" *ngFor="let agentOption of agents; trackBy: trackAgentById">{{agentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_tenant">Tenant</label>
            <select class="form-control" id="field_tenant" name="tenant" [(ngModel)]="enrollment.tenant" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tenantOption.id === enrollment.tenant?.id ? enrollment.tenant : tenantOption" *ngFor="let tenantOption of tenants; trackBy: trackTenantById">{{tenantOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
