<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEnrollment_Payment_MetaDataLabel">Create or edit a Enrollment Payment Meta Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!enrollment_Payment_MetaData.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="enrollment_Payment_MetaData.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_enrollmentId">Enrollment Id</label>
            <input type="text" class="form-control" name="enrollmentId" id="field_enrollmentId"
                [(ngModel)]="enrollment_Payment_MetaData.enrollmentId" required/>
            <div [hidden]="!(editForm.controls.enrollmentId?.dirty && editForm.controls.enrollmentId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.enrollmentId?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_agentId">Agent Id</label>
            <input type="text" class="form-control" name="agentId" id="field_agentId"
                [(ngModel)]="enrollment_Payment_MetaData.agentId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isAdvancable">Is Advancable</label>
            <input type="checkbox" class="form-control" name="isAdvancable" id="field_isAdvancable"
                [(ngModel)]="enrollment_Payment_MetaData.isAdvancable" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_carrierCommissionRuleId">Carrier Commission Rule Id</label>
            <input type="text" class="form-control" name="carrierCommissionRuleId" id="field_carrierCommissionRuleId"
                [(ngModel)]="enrollment_Payment_MetaData.carrierCommissionRuleId" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_agentCommisionRuleId">Agent Commision Rule Id</label>
            <input type="text" class="form-control" name="agentCommisionRuleId" id="field_agentCommisionRuleId"
                [(ngModel)]="enrollment_Payment_MetaData.agentCommisionRuleId" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
