
<div *ngIf="agent">
    <h2><span>Agent</span> {{agent.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Agent Id</span></dt>
        <dd>
            <span>{{agent.agentId}}</span>
        </dd>
        <dt><span>Agent NPN</span></dt>
        <dd>
            <span>{{agent.agentNPN}}</span>
        </dd>
        <dt><span>Eligible For Advances</span></dt>
        <dd>
            <span>{{agent.eligibleForAdvances}}</span>
        </dd>
        <dt><span>Tenant Id</span></dt>
        <dd>
            <span>{{agent.tenantId}}</span>
        </dd>
        <dt><span>Id</span></dt>
        <dd>
            <div *ngIf="agent.id">
                <a [routerLink]="['/rule-payment-agent', agent.id?.id]">{{agent.id?.id}}</a>
            </div>
        </dd>
        <dt><span>Tenant</span></dt>
        <dd>
            <div *ngIf="agent.tenant">
                <a [routerLink]="['/tenant', agent.tenant?.id]">{{agent.tenant?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'agent/'+ agent.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
